/*
Fonts are imported to site from here.
*/

@font-face {
    font-family: 'daxlinepro-light';
    src: url('../fonts/daxlinepro-light-webfont.eot');
    src: url('../fonts/daxlinepro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxlinepro-light-webfont.woff') format('woff'),
         url('../fonts/daxlinepro-light-webfont.ttf') format('truetype'),
         url('../fonts/daxlinepro-light-webfont.svg#daxlineprolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxlinepro-thin';
    src: url('../fonts/daxlinepro-thin-webfont.eot');
    src: url('../fonts/daxlinepro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxlinepro-thin-webfont.woff') format('woff'),
         url('../fonts/daxlinepro-thin-webfont.ttf') format('truetype'),
         url('../fonts/daxlinepro-thin-webfont.svg#daxlineprothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxlinepro-black';
    src: url('../fonts/daxlinepro-black-webfont.eot');
    src: url('../fonts/daxlinepro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxlinepro-black-webfont.woff') format('woff'),
         url('../fonts/daxlinepro-black-webfont.ttf') format('truetype'),
         url('../fonts/daxlinepro-black-webfont.svg#daxlineproblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'daxlinepro-regular';
    src: url('../fonts/daxlinepro-regular-webfont.eot');
    src: url('../fonts/daxlinepro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/daxlinepro-regular-webfont.woff') format('woff'),
         url('../fonts/daxlinepro-regular-webfont.ttf') format('truetype'),
         url('../fonts/daxlinepro-regular-webfont.svg#daxlinepro-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}