/*

Theme Name: Bistro Apetit
Theme URI: http://underscores.me/
Author: Slicejack
Author URI: http://underscores.me/
Description: Description
Version: 1.0-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bistroapetit
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 Bistro Apetit is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

This is main theme stylesheet file.

1. Main styles
2. Header
3. Our story
4. Menu
5. Wines
6. Special days
7. Footer
8. Media query

*/

/* ---------- 1. Main styles ---------- */

body p{ font-size: 18px; font-family: 'daxlinepro-regular', sans-serif; color: #D7D1CC; line-height: 170%; margin: 0 0 30px 0; }
body a{ font-family: 'daxlinepro-regular', sans-serif; }
body h1{ font-size: 28px; font-family: 'daxlinepro-black', sans-serif; margin: 0; padding-bottom: 50px; }
body h2, body h3, body h4{ font-family: 'daxlinepro-black', sans-serif; margin: 0; }

/* ---------- 2. Header ---------- */

header{ background: url(http://bistroapetit.com/wp-content/uploads/2014/09/header-bg.jpg); background-size: cover; padding: 180px 0; background-attachment: fixed; }
header .logo-container{ width: 360px; height: 340px; display: block; margin: 0 auto; }
header .logo-container a h1{ text-indent: -9999px; }

/* nav */
header nav{ display: block; margin: 0 auto; width: 360px; background: #3D3936; }
header nav ul{ list-style: none; padding-left: 0; margin: 20px 0; }
header nav ul li,
#content-nav nav ul li{ display: inline; }
header nav ul li a,
#content-nav nav ul li a{ text-decoration: none; color: #D7D1CC; line-height: 50px; margin-left: 16px; font-size: 14px; }
header nav ul li a:hover,
#content-nav nav ul li a:hover{ text-decoration: underline; color: #D7D1CC; }

/* content nav */
#content-nav{ overflow: hidden; position: fixed; top: 150px; margin-left: -452px; z-index: 3; }
#content-nav nav{ display: block; float: left; background: #3D3936; }
#content-nav nav ul{ margin: 20px 0; list-style: none; padding-left: 0; margin-left: 0; }
#content-nav nav ul li img{ margin: 0 30px; cursor: pointer; }

/* header bottom */
.header-bottom{ background-color: #3D3936; }
.header-bottom img{ width: 100%; padding: 40px 45px; }

/* ---------- 3. Our story ---------- */

.our-story{ background: url(http://bistroapetit.com/wp-content/uploads/2014/09/our-story-bg.jpg); background-size: cover; overflow: hidden; background-attachment: fixed; }
.our-story .our-story-content{ width: 50%; float: left; background: rgba(61, 57, 54, 0.9); margin: 250px 0 310px 0; }
.our-story .our-story-content .our-story-container{ padding: 35px 95px 25px 23%; overflow: hidden; }
.our-story .our-story-content .our-story-container p{ float: left; }

/* ---------- 4. Menu ---------- */

.menu{ width: 100%; }

/* menu single container */
.menu-single-container{ margin-top: -90px; position: relative; z-index: 2; }
.menu-single-left .menu-single-container{ width: 50%; float: left; background: #D7D1CC; padding: 45px 95px 50px 12%; }
.menu-single-right .menu-single-container{ width: 50%; float: right; background: #3D3936; padding: 45px 12% 50px 95px; }
.menu-single-left .menu-single-container p{ color: #3D3935; }
.menu-single-left .menu-single-container h1{ color: #3D3934; }
.menu-single-right .menu-single-container p{ color: #D7D1CC; }
.menu-single-right .menu-single-container h1{ color: #D7D1CC; }

/* menu single */
.menu-single-left{ background: #D7D1CC; }
.menu-single-right{ background: #3D3936; }
.menu-single-left, .menu-single-right{ width: 100%; display: inline-block; margin-top: -2px; }
.menu-single-left img{ width: 50%; float: right; }
.menu-single-right img{ width: 50%; float: left; }
.menu-single-left, .menu-single-right{ position: relative; }

/* featured image */
.featured-image{ position: absolute; top: 0; width: 50%; height: 100%; z-index: 1; background-size: cover; overflow: hidden; box-sizing: content-box !important; -moz-box-sizing: content-box !important; -webkit-box-sizing: content-box !important; background-position: center; }
.menu-single-left .featured-image{ right: 0; }
.menu-single-right .featured-image{ left: 0; padding-right: 2px; }
.featured-image img{ width: 100% !important; }
.first-menu .featured-image img{ margin-top: -260px; }

/* ---------- 5. Wines ---------- */

.wines{ background: url(http://bistroapetit.com/wp-content/uploads/2014/09/wines-bg.jpg); background-size: cover; margin-top: -2px; background-attachment: fixed; }
.wines-container{ background: #3D3936; margin-top: 78px; margin-bottom: 100px; padding: 55px 80px 90px 80px; }

/* tabs */
.tabs dd>a, .tabs .tab-title>a{ background: #3D3936 !important; font-family: 'daxlinepro-regular', sans-serif !important; font-size: 18px !important; color: #d7d1cc !important; padding: 0 20px 0 0 !important; }
.tabs dd.active a, .tabs .tab-title.active a{ color: #fff !important; }

/* tabs content */
.wines .tabs-content h1{ color: #d7d1cc; padding-bottom: 0; }
.wines .tabs-content h2{ text-transform: uppercase; font-size: 14px; color: #d7d1cc; font-family: 'daxlinepro-regular', sans-serif; margin-bottom: 15px; margin-top: 45px; }
.wines .tabs-content p{ font-size: 14px; margin-bottom: 10px; }
.wines .tabs-content .content{ padding-top: 40px; }
.wines .tabs-content .content .tabs-content-left{ float: left; width: 50%; padding-right: 20px; }
.wines .tabs-content .content .tabs-content-right{ float: right; width: 50%; padding-left: 20px; }

/* ---------- 6. Special days ---------- */

.special-days{ background: #3d3936; overflow: hidden; }

.special-days .tabs-menu{ width: 33%; float: left; padding: 60px 100px; }
.special-days .tabs-menu h2{ color: #fff; margin-bottom: 47px; font-size: 30px; }
.special-days .tabs-menu ul{ padding: 0 15px; }
.special-days .tabs-menu ul li{ width: 100%; }
.special-days .tabs-menu ul li a{ line-height: 35px; }

.special-days .tabs-content{ margin-bottom: 0; }
.special-days .content-container{ width: 67%; float: left; }
.special-days .content{ position: relative; padding: 68px 81px !important; }
.special-days .content .bg-image{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; opacity: 0.15; z-index: 1; min-height: 350px; }
.special-days .content h2{ color: #dad9d7; font-size: 18px; font-weight: normal; font-family: 'daxlinepro-regular', sans-serif; margin-bottom: 7px; z-index: 2; position: relative; }
.special-days .content p{ color: #dad9d7; font-size: 14px; z-index: 2; position: relative; margin-bottom: 20px; }

/* ---------- 7. Footer ---------- */

footer{ background: url(http://bistroapetit.com/wp-content/uploads/2014/09/footer-bg.jpg); background-size: cover; overflow: hidden; width: 100%; }
footer .footer-content{ width: 50%; float: right; background: rgba(61, 57, 54, 0.9); margin: 245px 0 235px 0; }
footer .footer-content .footer-container a span{ display: inline-block; text-indent: -9999px; }
footer .footer-content .footer-container{ padding: 60px 95px 60px 80px; }
footer .footer-content .footer-container img{ margin-right: 10px; }

/* ---------- 8. Media query ---------- */

@media only screen and (max-width: 1200px){
	.special-days .tabs-menu{ padding: 60px; }
}

@media only screen and (max-width: 1160px){
	footer .footer-content .footer-container img{ margin-bottom: 10px; }
}

@media only screen and (max-width: 960px){
	.our-story .our-story-content .our-story-container{ padding: 35px 11% 25px 11%; }
	.menu-single-left .menu-single-container, .menu-single-right .menu-single-container{ padding: 45px 5% 50px 5%; }
	footer .footer-content .footer-container{ padding: 60px 11% 60px 11%; }
	.special-days .tabs-menu{ width: 45%; }
	.special-days .content-container{ width: 55%; }
}

@media only screen and (max-width: 768px){
	footer .footer-content{ width: 80%; }
	.special-days .tabs-menu,
	.special-days .content-container{ width: 100%; }
}

@media only screen and (max-width: 640px){
	.our-story .our-story-content{ width: 72%; margin: 155px 0 165px 0; }
	.menu-single-left .menu-single-container, .menu-single-right .menu-single-container{ width: 100%; margin-top: 0; }
	.menu-single-left .featured-image, .menu-single-right .featured-image{ display: none; }
	#content-nav{ display: none; }
	.wines .tabs-content .content .tabs-content-left{ width: 100%; }
	.wines .tabs-content .content .tabs-content-right{ width: 100%; padding-left: 0; }
	.header-bottom img{ padding: 25px 15px; }
	header{ padding: 115px 0; }

	/* paralax mobile reset */
	header, .our-story, .wines{ background-attachment: scroll; }
}

@media only screen and (max-width: 470px){
	.our-story .our-story-content{ width: 100%; }
	footer .footer-content{ width: 100%; }
	header nav{ display: none !important; }
	.wines-container{ padding: 55px 55px 90px 55px; }
	.special-days .tabs-menu{ padding: 60px 30px; }
	.special-days .content{ padding: 60px 30px !important; }
}

@media only screen and (max-width: 390px){
	header{ padding: 65px 0; }
	header .logo-container{ width: 100%; height: auto; }
	.wines-container{ padding: 55px 25px 90px 35px; }
}